body {
  background-color: #252526;
}

#input_form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#submit_button {
  display: flex !important;
  margin-top: 15px;
}

.button_block {
  display: flex;
  justify-content: center;
}

.upload_file_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page_title {
  margin-top: 50px;
  font-size: 25px;
  color: white;
}

.collapse_buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.date_label {
  color: white;
}

.positions_files {
  display: flex;
  align-items: center;
  justify-content: center;
}

.file_field_label {
  margin-top: 30px;
  margin-bot: 15px;
  color: white;
  text-align: center;
  font-size: 18px
}

.file_blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.entry_logs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.top_content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.department_fields {
  display: flex;
}

.form-control {
  background-color: #252526 !important;
  color: white !important;
}

.form-edit {
  background-color: #000000 !important;
}

.form-disabled {
  border: 0px !important;
}

::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

.exit_block {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  margin: 20px;
}

#exit_button {
  max-height: 50px !important;
}

.employee_fields {
  margin-top: 75px;
  color: white;
}

.admin_name {
  color: white;
  padding-right: 15px;
  text-align: right;
}

tr {
  vertical-align: middle !important;
  text-align: left;
}

.employee_attrs {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.form-check-label {
  font-weight: normal;
}
