<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Панель администратора</title>
    <link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet" />
    <script defer src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script defer src="{{ url_for('static', path='/js/poppers.js') }}"></script>

    <link
      id="favicon"
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/content/favicon.ico') }}"
    />
    <link href="{{ url_for('static', path='/admin.css') }}" rel="stylesheet" />
  </head>
  <body>
  <div class='top_content'>
    <form class="exit_block" action="/logout">
      <button type="submit" class="btn btn-primary" id="exit_button">
        Выйти
      </button>
      <p class="admin_name">{{ user_name }}</p>
    </form>
    </div>
    <div class="page_title">
      <p class="text-center">Панель администратора</p>
    </div>

    <div class='collapse_buttons'>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDepartments" aria-expanded="false" aria-controls="collapseDepartments" style="margin-right: 10px">
      Порядок департаментов
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePositions" aria-expanded="false" aria-controls="collapsePositions" style="margin-left: 10px; margin-right: 10px">
      Порядок должностей
    </button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLogs" aria-expanded="false" aria-controls="collapseLogs" style="margin-left: 10px">
      Статистика сайта
    </button>
    </div>
    <div class="collapse" id="collapseDepartments">
    <form method="post" id="input_form" action='/change_data'>
      <div class="mb-3 department_fields">
        <input
          type="text"
          class="form-control form-edit"
          name="department"
          placeholder="ID департамента"
          value="{{ '' if department in ['None', None] else department }}"
          style="margin-right: 10px"
      />
        <input
          type="text"
          class="form-control form-edit"
          name="department_order"
          placeholder="Order"
          value="{{ '' if department_order in ['None', None] else department_order }}"
          style="margin-left: 10px"
      />
      </div>
      <div class="button_block">
        <button type="submit" class="btn btn-primary" id="submit_button">
          Изменить порядок департамента
        </button>
        {{ confirmation_text }}
      </div>
    </form>
    </div>

    <div class='collapse' id='collapsePositions'>
      <div class='file_blocks'>
      <div class='file_field_label'>
        Текущий файл
        </div>
        <a href="{{ url_for('static', path='/xlsx/positions.xlsx') }}" download>
           <button type="button" class="btn btn-primary">Скачать</button>
        </a>
       <form method='post' id='update_posiitons' action="/update_positions" enctype="multipart/form-data" class="upload_file_block">
      <div class="mb-3">
        <div class='file_field_label'>
          Обновленный файл
        </div>
        <input class="form-control" type="file" id="formFile" name='upload_file' accept=".xlsx">
      </div>
      <button type="submit" class="btn btn-primary" id="submit_button">
        Обновить данные
        </button>
       </form>
      </div>
    </div>

    <div class="collapse" id="collapseLogs">
    <form class="entry_logs" action="/admin/logs">
      <label class="date_label" for='begin_date'>От:</label>
        <input type="date" value="{{ current_date }}" name='begin_date'/>
        <label class="date_label" for='end_date'>До:</label>
      <input type="date" value="{{ current_date }}" name='end_date'/>
      <button type="submit" class="btn btn-primary" id="submit_button">
            Статистика сайта
      </button>
      </form>
      </div>

    <form method="get" id="input_form">
      <div class="mb-3">
        <input
          type="text"
          class="form-control form-edit"
          name="employee_id"
          placeholder="ID сотрудника"
          value="{{ '' if employee_id in ['None', None] else employee_id }}"
        />
      </div>
      <div class="button_block">
        <button type="submit" class="btn btn-primary" id="submit_button">
          Найти сотрудника
        </button>
        {{ confirmation_text }}
      </div>
    </form>

    {% if employee_info %}

    <form class="employee_attrs" method="post" action="/change_data">
      <input type="hidden" name="ID" value="{{ employee_id }}" />
      <div class="employee_fields">
        <table class="table table-borderless table-dark">
          <th><a href="/admin/logs?employee_id={{ employee_id }}" class='logs_button' target="_blank">История изменений</a></th>
          <tr>
            <th>OrganizationID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Компания"
                value="{{ employee_info.OrganizationID }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>ID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="ID"
                value="{{ employee_info.ID }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>LastNameRus</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Фамилия"
                value="{{ employee_info.LastNameRus }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>NameRus</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Имя"
                value="{{ employee_info.NameRus }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>MiddleNameRus</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Отчетсво"
                value="{{ employee_info.MiddleNameRus }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>FullNameRus</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="ФИО"
                value="{{ employee_info.FullNameRus }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>DepartmentID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Департамент"
                value="{{ employee_info.DepartmentID }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>CategoryID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Категория"
                value="{{ employee_info.CategoryID }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>PositionTitle</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Должность"
                value="{{ employee_info.PositionTitle }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>BranchID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Отделение"
                value="{{ employee_info.BranchID }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>Email</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Email"
                value="{{ employee_info.Email }}"
                readonly="readonly"
                disabled
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideEmail'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideEmail"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideEmail"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>TelephoneNumberCorp</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Телефон"
                value="{{ employee_info.TelephoneNumberCorp }}"
                readonly="readonly"
                disabled
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideTelephoneNumberCorp'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideTelephoneNumberCorp"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideTelephoneNumberCorp"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>MobileNumberCorp</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Мобильный"
                value="{{ employee_info.MobileNumberCorp }}"
                readonly="readonly"
                disabled
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideMobileNumberCorp'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideMobileNumberCorp"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideMobileNumberCorp"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>ExtNumID</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Внешний телефон"
                value="{{ employee_info.ExtNumID }}"
                readonly="readonly"
                disabled
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideExtNumID'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideExtNumID"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideExtNumID"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>WorkPlace</th>
            <th>
              <input
                type="text"
                class="form-control form-edit"
                placeholder="Рабочее место"
                value="{{ employee_info.WorkPlace }}"
                name="WorkPlace"
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideWorkPlace'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideWorkPlace"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideWorkPlace"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>PhotoID</th>
            <th>
              <img class="miniature_photo" src="data:image/jpeg;base64,{{ employee_info.Photo | safe }}" width="75" height="75" style="border-radius: 5px"/>
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HidePhotoID'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HidePhotoID"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HidePhotoID"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>Order (Employees)</th>
            <th>
              <input
                type="text"
                class="form-control form-edit"
                placeholder="Порядок сотрудника"
                value="{{ employee_info.Order }}"
                name="Order"
              />
            </th>
          </tr>

          <tr>
            <th>Order (Category)</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Порядок категории"
                value="{{ employee_info.CategoryOrder }}"
                readonly="readonly"
                disabled
            />
            </th>
          </tr>

          <tr>
            <th>Order (Positions)</th>
            <th>
              <input
                type="text"
                class="form-control form-edit"
                placeholder="Порядок должности"
                value="{{ employee_info.PositionOrder }}"
                name="PositionOrder"
              />
            </th>
          </tr>

          <tr>
            <th>Order (Organization)</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Порядок компании"
                value="{{ employee_info.OrganizationOrder }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>Address</th>
            <th>
              <input
                type="text"
                class="form-control form-edit"
                placeholder="Адрес"
                value="{{ employee_info.Address }}"
                name="Address"
              />
            </th>
            <th>
              <div class="form-check form-switch form-check-reverse">
                {% if employee_info['HideAddress'] == 1 %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckChecked"
                  name="HideAddress"
                  checked
                />
                {% else %}
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="HideAddress"
                />
                {% endif %}
                <label class="form-check-label" for="flexSwitchCheckDefault"
                  >Скрыть</label
                >
              </div>
            </th>
          </tr>

          <tr>
            <th>insert_date</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Дата создания"
                value="{{ employee_info.insert_date }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>update_date</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Дата обновления"
                value="{{ employee_info.update_date }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>EditedBy</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Кем редактировано"
                value="{{ employee_info.EditedBy }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>

          <tr>
            <th>EditedDate</th>
            <th>
              <input
                type="text"
                class="form-control form-disabled"
                placeholder="Дата редактирования"
                value="{{ employee_info.EditedDate }}"
                readonly="readonly"
                disabled
              />
            </th>
          </tr>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" id="save_button">
        Сохранить изменения
      </button>

      {% else %} {% endif %}
    </form>

    {% if confirmation_text %}
    <div
      class="toast align-items-center text-bg-primary border-0"
      style="position: absolute; top: 0"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body">Изменения внесены</div>
        <button
          type="button"
          class="btn-close btn-close-white me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Закрыть"
        ></button>
      </div>
    </div>
    <script>
      const saveButton = document.getElementById("save_button");

      // При нажатии на кнопку, меняем текст на "Сохранение" и сохраняем состояние
      saveButton.addEventListener("click", async (event) => {
        saveButton.innerText = "Сохранение..."; // Изменяем текст кнопки на "Сохранение"
        sessionStorage.setItem("savingState", "true"); // Сохраняем состояние в sessionStorage
      });

      // Проверяем состояние кнопки при загрузке страницы и восстанавливаем надпись по умолчанию
      document.addEventListener("DOMContentLoaded", function () {
        const savingState = sessionStorage.getItem("savingState");
        if (savingState === "true") {
          saveButton.innerText = "Сохранить изменения"; // Восстанавливаем текст кнопки на "Сохранение"
        } else {
          saveButton.innerText = "Сохранение..."; // Устанавливаем текст кнопки по умолчанию
        }
      });
    </script>

    <script defer src="{{ url_for('static', path='/js/bootstrap.bundle.min.5.3.1.js') }}"></script>

    <script>
      // Инициализация всплывающего сообщения после полной загрузки DOM
      document.addEventListener("DOMContentLoaded", function () {
        var toastElList = [].slice.call(document.querySelectorAll(".toast"));
        var toastList = toastElList.map(function (toastEl) {
          return new bootstrap.Toast(toastEl);
        });
        toastList.forEach((toast) => toast.show());
      });
    </script>
    {% else %} {% endif %}
  </body>
</html>
